body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  position: relative;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.nav-link.current {
  color: #404bbf;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding: 120px 0;
}

.present {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 767px) {
  .present {
    padding: 72px 0;
  }
}

.present-text {
  max-width: 496px;
  margin: 0 auto 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}

.button {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.features-list {
  display: flex;
  gap: 24px;
}

.feature-icon {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-text {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.work-container {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.work-title {
  padding-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.work-list {
  display: flex;
  gap: 24px;
}

.work-item {
  width: calc((100% - 72px) / 4);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.work-present-text {
  padding: 32px 16px;
}

.work-text {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.work-text-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 8px;
}

.work-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-link svg {
  fill: #f4f4fd;
}

.social-link:hover svg,
.social-link:focus svg {
  fill: #ffffff;
}

.portfolio {
  background: #fff;
  color: #434455;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-text-container {
  padding: 32px 16px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-head {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social-container:last-child {
  margin-left: auto;
}

.footer-container > div:nth-child(1) {
  margin-right: 120px;
}

.footer-container > div:nth-child(2) {
  margin-right: 80px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  max-width: 208px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -60%);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 16px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}

.modal-close svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover svg,
.modal-close:focus svg {
  fill: #ffffff;
}

/* === MODAL FORM === */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-checkbox {
  margin-top: 16px;
  margin-bottom: 24px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  width: 18px;
  height: 24px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-label {
  font-size: 12px;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  letter-spacing: 0.04em;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  left: 16px;
  width: 18px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOCUS EFFECT */
.form-input:focus {
  border-color: #4d5ae5;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #31d0aa;
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

/* TEXTAREA */
.form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  outline: none;
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

/* CHECKBOX */
.form-checkbox {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.policy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.checkbox-custom svg {
  fill: #ffffff;
  opacity: 0;
}

/* CHECKED STATE */
.checkbox-input:checked + .checkbox-label .checkbox-custom {
  background-color: #404bbf;
  border: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-custom svg {
  opacity: 1;
}

/* SUBMIT BUTTON */
.modal-submit {
  margin-top: 24px;
  align-self: center;
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #404bbf;
}

/* === FOOTER SUBSCRIBE FORM === */

/* .footer-subscribe {
  margin-left: auto;
} */

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  display: block;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
  color: #ffffff;
  font-size: 12px;
}

.subscribe-input:focus {
  border-color: #31d0aa;
}

.subscribe-button {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #31d0aa;
}

.subscribe-icon {
  fill: #ffffff;
}
