/* region Base */

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

h3 {
    color: #2E2F42;

}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


/* region */

.section-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

/* header */


.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 24px 0;
}

.accent {
    color: #2e2f42;
}

.nav {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}


.menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
    color: #404bbf;
}

.menu-link.current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
}

.menu-link:hover,
.menu-link:focus {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.menu-link:active {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    text-decoration: underline;
}

.adress-list {
    display: flex;
    gap: 40px;
}


.address-item-link {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item-link:hover,
.address-item-link:focus {
    color: #404bbf;
}

/* main */

/* hero */

.hero {
    background-color: #2e2f42;
    width: 100%;
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.hero-titel {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
    max-width: 1440рх;
}

.button {
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #4d5ae5;;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-size: 16px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* info */

.info {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.info-tittel {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.info-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.info-list-item {
    width: calc((100% - 72px) / 4);
}

.info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    padding: 24px, 100px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.info-item-icon {
    fill: #2e2f42;
}

.info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* contacts */

.contacts {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.contacts-tittle {
    text-transform: capitalize;
    margin-bottom: 72px;
}

.contacts-list {
    display: flex;
    gap: 24px;
}

.list-team-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.team-icon {

    width: 40px;
    height: 40px;

}

.team-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
    background-color: #404BBF;
}

.socials-item {
    fill: #f4f4fd;
}


.contacts-list-item {
    background-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: calc((100% - 24px * 3) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    margin-bottom: 8px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contact-name-container {
    padding: 32px 0;
}

.contact-container {
    padding: 32px 0 32px;
    margin-bottom: 8px;
}

.contacts-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.contacts-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

/* portfolio */

.portfolio {
    padding: 120px 0;
}

.portfolio-herotittel {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-list-item {
    width: calc((100% - 24px * 2) / 3);
    cursor: pointer;
    box-shadow: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    display: flex;
    align-items: center;
    background: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-carts {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
    padding-left: 16px;
    padding-top: 32px;
}

.portfolio-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* footer */

.footer {
    background: #2e2f42;
    padding: 100px 0;

}

.list-footer {
    gap: 16px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items:baseline;
    max-width: 1440px;
    
}

.section-one {
    margin-right: 120px;
}

.footer-link {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-bottom: 16px;

}

.accent-footer {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-text-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.team-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-footer:hover,
.team-link-footer:focus {
    background-color: #31d0aa;
}

.section-three {
    margin-left: auto;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-three {
 margin-bottom: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #FFFFFF;
}

.footer-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 24px;
}

.footer-button {
    width: 165px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 24px 8px 0;
    position: relative;
}

.section-three> :-ms-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-buttom {
    position: relative;
    display: flex;
    flex-direction: row;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    margin-right: 24px;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

}

.footer-input::placeholder {
    color: #fff;
 }

.footer-teleg {
    margin-left: 16px;
    position: absolute;
    top: 8px;
    right: 24px;
    fill: #fff;
}

/* form */

 /* BACKDROP */
 .backdrop {
     position: fixed;
     inset: 0;
     background-color: rgba(46, 47, 66, 0.4);
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .backdrop.is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
 }

 /* MODAL WINDOW */
 .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1.1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 24px;

 }

 .backdrop.is-open .modal {
     transform: translate(-50%, -50%) scale(1);
 }

 /* CLOSE BUTTON */
 .modal-close {
     position: absolute;
     top: 24px;
     right: 24px;
     width: 24px;
     height: 24px;
     background-color: #e7e9fc;
     border-radius: 50%;
     border: 1px solid rgba(0, 0, 0, 0.1);
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-close svg {
     fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-close:hover,
 .modal-close:focus {
    background-color: #404bbf;
    border: none;
    }

 .modal-close:hover > svg,
 .modal-close:focus > svg {
     fill: #fff;
 }



 /* TITLE */
 .form-title {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 48px auto 16px;

 }

 /* FORM FIELD */
 .modal-form {
     display: flex;
     flex-direction: column;
     gap: 8px;
     margin-bottom: 16px;
     width: 100%;
 }

 /* EACH FIELD */
 .form-row {
     display: flex;
     flex-direction: column;
     gap: 4px;
     position: relative;
    margin-bottom: 8px;
    
 }

 .form-label {
    font-size: 12px;
    color: #8e8f99;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
 }

 .row {
    position: relative;
 }

 .form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    font-size: 14px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;

 }

 .form-input:hover,
 .form-input:focus {
    border: 1px solid #4d5ae5;
    outline: none;
 }

 .form-item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .form-input:hover > svg,
 .form-input:focus > svg{
    fill: #4D5AE5;
 }

 .form-area {
    margin-bottom: 16px;
 }

 .form-textarea {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .form-textarea:hover,
 .form-textarea:focus {
    border-color: #4D5AE5;
 }

 .form-textarea {
    resize: none;
    width: 360px;
    min-height: 120px;
 }

 /* CHECKBOX */

 .policy-checkbox {
    margin-bottom: 24px;

 }

 .policy {
     display: flex;
     align-items: center;
     gap: 8px;
     font-size: 12px;
     color: #757575;
     cursor: pointer;
     margin-bottom: 24px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
 }

 .span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
 } 

 .checkbox {

    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

    .checkbox:hover > svg,
    .checkbox:focus > svg {
    fill: #f4f4fd;
 }

  .checkbox:hover,
  .checkbox:focus {
    border-radius: 2px;
    fill: #404bbf;
    border: 1px solid #404bbf;
  }

 .submit-text {
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    width: 105px;
 }

 ::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
 }


 .policy-link {
    letter-spacing: 0.04em;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
 }


 