.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

a:hover,
a:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2E2F42;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* ===== TYPOGRAPHY ===== */
h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ===== LOGO ===== */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.footer-studio {
  color: #f4f4fd;
}

/* ===== HEADER ===== */
header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.container-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ----- NAV ----- */
nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.navigation {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: block;
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2e2f42;
  text-decoration: none;

  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link.current {
  color: #404bbf;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: #404bbf;
  border-radius: 2px;
}

/* ----- CONTACTS (ADDRESS) ----- */
.container-adress {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list a {
  display: block;
  padding: 24px 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list a:hover,
.contact-list a:focus {
  color: #404bbf;
}

/* ===================== MODAL ===================== */
.cross {
  top: 24px;
  right: 24px;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cross:hover,
.cross:focus {
  background-color: #404bbf;
}

.cross:hover svg,
.cross:focus svg {
  fill: #ffffff;
}

.cross svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.modal p {
  margin-bottom: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
  margin-top: 0;
}

.form-inputs {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  box-sizing: border-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Roboto', sans-serif;
  margin-top: 4px;
  margin-bottom: 16px;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .input-icon {
  fill: #4d5ae5;
}

.form-input:focus,
.form-inputs:focus {
  border-color: #4d5ae5;
  box-shadow: 0 0 0 4px rgba(77, 90, 229, 0.1);
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  background-color: #fff;
  border-radius: 4px;
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px 0px #00000024,
              0px 1px 3px 0px #0000001F,
              0px 2px 1px 0px #00000033;
  width: 408px;
  max-height: 584px;
  overflow-y: auto;
  position: relative;
  transform: scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open .modal {
  transform: scale(1);
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
}

.form-label {
  display: flex;
  flex-direction: column;
  color: #8E8F99;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-weight: 400;
  margin-bottom: 0;
}
.form-label textarea {
  margin-bottom: 16px;
}


.modal button[type="submit"] {
  box-shadow: none;
  background-color: #4D5AE5;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   margin-top: 0;
  align-self: center;
  min-width: 169px;
}

.modal button[type="submit"]:hover,
.modal button[type="submit"]:focus {
  background-color: #404BBF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form-input::placeholder,
.form-inputs::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.17;
}
/*.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}*/
.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 250ms, border-color 250ms;
  flex-shrink: 0;
}
.checkbox-input:checked + .checkbox-custom {
  background-color: #404BBF;
  border-color: #404BBF;
}
.checkbox-icon {
  width: 10px;
  height: 8px;
  color: #f4f4fd;   
  fill: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.checkbox-input:checked + .checkbox-custom .checkbox-icon {
  opacity: 1;
}

.privacy-link {
  color: #4D5AE5;
  text-decoration: underline;
}

.privacy-link:hover,
.privacy-link:focus {
  color: #404BBF;
}

.checkbox-label {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8E8F99;
  cursor: pointer;
}

/* ===== HERO ===== */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero h1 {
  color: #ffffff;
  margin: 0 auto 48px;
  max-width: 496px;
}

.container-hero {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px #00000026;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===== FEATURES ===== */
.container-features {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
}

.features {
  padding: 120px 0;
}

.feature {
  width: 264px;
}

.feature h3 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
}

.feature p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.box {
  background-color: #F4F4FD;
  border-radius: 4px;
  border: 1px solid #8E8F99;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature .icon {
  position: static;
  transform: none;
}

/* ===== TEAM ===== */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
  text-align: center;
}

.container-team {
  margin: 0 auto;
}

.team h2 {
  margin-bottom: 72px;
}

.team-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-ul .member {
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14);
}

.member {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  width: 264px;
}

.member-info {
  padding: 32px 16px;
}

.member h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.member p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
}

.socials-link {
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #404BBF;
}

.socials-link .icon {
  fill: #F4F4FD;
}

/* ===== PORTFOLIO ===== */
.portfolio {
  padding: 120px 0;
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 72px;
}

.container-portfolio {
  max-width: 1158px;
  margin: 0 auto;
}

.porto {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.boxs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
  padding-left: 32px;
  padding-top: 40px;
  padding-right: 32px;
  color: #F4F4FD;
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-info h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-info p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

/* ===================== FOOTER ===================== */
footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-web {
  color: #4d5ae5;
}

.footer-studio {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin: 0;
}

.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-social-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #F4F4FD;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}


.form-footer {
  display: flex;
  align-items: flex-end;
}



.form-label-footer {
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-right: 24px;
}

.form-input-footer {
  margin-top: 16px; 
}

.form-input-footer {
  font-size: 12px;
  line-height: 2;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-footer::placeholder {
  color: #ffffff;
  opacity: 1;
}

.form-input-footer:hover,
.form-input-footer:focus {
  border-color: #31d0aa;
  outline: none;
}

.butt-on {
  background-color: #4D5AE5;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  height: 40px;
  min-width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: none;
}

.butt-on:hover,
.butt-on:focus {
  background-color: #31d0aa; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.paper-palen {
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
}

.footer-sub button {
  box-shadow: none;
}
.footer-info {
  margin-right: 120px;
}

.footer-social {
  margin-right: 80px;
}

.footer-sub {
  margin-left: auto; 
}

.footer-sub-title {
  margin-bottom: 16px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.footer-sub {
  display: block;
}















