body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: #2e2f42;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: #2e2f42;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input {
  font-family: inherit;
  padding: 0;
  background-color: transparent;
}

textarea {
  font-family: inherit;
  resize: none;
  background-color: transparent;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.icon {
  fill: #2e2f42;
}

/* __________HEADER__________ */

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.accent {
  color: #4d5ae5;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  gap: 40px;
}

header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

header a {
  padding: 24px 0;
  display: block;
}

.nav-link a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link a:hover,
.nav-link a:focus {
  color: #404bbf;
}

.nav-studio {
  color: #404bbf;
}

.nav-studio::after {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  content: "";
}

address {
  line-height: 1.5;
  margin-left: auto;
}

.address-list-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}

/* __________HERO__________ */

.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
  width: 496px;
}

.main-title-button {
  background-color: #4d5ae5;
  color: #ffffff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-title-button:hover,
.main-title-button:focus {
  background-color: #404bbf;
}

/* ___________FEATURES___________ */

.features {
  display: flex;
  gap: 24px;
}

.features h3 {
  margin-bottom: 8px;
}

.features li {
  width: calc((100% - 72px) / 4);
}

.features-icon-box {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
}

/* __________TEAM__________ */

.team {
  background-color: #f4f4fd;
}

.team-title {
  text-align: center;
  margin-bottom: 72px;
}

.team li:not(.team-box ul > li) {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team h3,
.team p {
  text-align: center;
}

.team h3 {
  margin-bottom: 8px;
}

.team-box {
  padding: 32px 16px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list li {
  width: calc((100% - 72px) / 4);
}

.team-box a {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-box a:hover,
.team-box a:focus {
  background-color: #404bbf;
}

.team-box ul {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}

.team-box .icon {
  fill: #f4f4fd;
}

/* __________PORTFOLIO__________ */

.portfolio h2 {
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-item-list {
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-list h3 {
  margin-bottom: 8px;
}

.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-hover {
  position: relative;
  overflow: hidden;
}

.portfolio-hover-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-list:hover .portfolio-hover-text {
  transform: translateY(0);
}

.portfolio-hover-text p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* __________FOOTER__________ */

footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  padding: 100px 0;
}

footer > .container {
  display: flex;
  gap: 120px;
  align-items: baseline;
}

.studio {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
}

.footer-text .logo {
  display: block;
  margin-bottom: 16px;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  width: 208px;
  justify-content: space-between;
  height: 80px;
}

.footer-icon p,
.footer-form p {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.footer-icon ul {
  display: flex;
  gap: 16px;
}

.footer-icon a {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon a:hover,
.footer-icon a:focus {
  background-color: #31d0aa;
}

.footer-icon .icon {
  fill: #f4f4fd;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  width: 453px;
}

.footer-form-row {
  display: flex;
  gap: 24px;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 264px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  color: #fff;
}

.footer-input:hover,
.footer-input:focus {
  border-color: #31d0aa;
}

.submit-button {
  background-color: #4d5ae5;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  display: flex;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #31d0aa;
}

.submit-button .icon {
  fill: #fff;
  margin-left: 16px;
}

/* __________MODAL__________ */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
}

.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #e7e9fc;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  position: absolute;
  top: 24px;
  right: 24px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
}

.close-button .icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .icon,
.close-button:focus .icon {
  fill: #fff;
}

.modal-forms {
  margin: 72px 24px 0 24px;
}

.modal-forms p {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form:not(:last-child) {
  display: flex;
  flex-direction: column;
}

.form input:hover,
.form input:focus {
  border-color: #4d5ae5;
}

.form-icon-box:focus-within .icon {
  fill: #4d5ae5;
}

.form-icon-box .icon {
  position: absolute;
  left: 19px;
  top: 32px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

label > input {
  margin-top: 4px;
  outline: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  height: 40px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-box {
  position: relative;
  margin-bottom: 8px;
}

.textarea {
  padding-left: 16px;
  padding-top: 8px;
  outline: none;
  min-height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-top: 4px;
}

.textarea::placeholder {
  color: #c1c2d0;
}

.checkbox-field {
  display: flex;
  margin-top: 16px;
  margin-bottom: 24px;
}

.checkbox-field a {
  color: #4d5ae5;
  line-height: 1.33;
  text-decoration: underline;
  margin-left: 4px;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox .icon {
  fill: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label > .custom-checkbox {
  background-color: #404bbf;
  border: none;
}

.checkbox:checked + .checkbox-label > .custom-checkbox .icon {
  fill: #f4f4f4;
}

.modal-submit-button {
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 169px;
  display: block;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #404bbf;
}
