body {
  background-color: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

input {
  border: none;
  outline: none;
}
/* --------------ALL SECTION-------------- */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* --------------HEADER-------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  margin-right: 76px;
  padding: 24px 0;
}

.header-logo span {
  color: #4d5ae5;
}

.header-navigation-list {
  display: flex;
  gap: 40px;
}

.header-navigation-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.header-navigation-link.curent {
  position: relative;
}

.header-navigation-link.curent::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.header-navigation-link:hover,
.header-navigation-link:focus,
.header-navigation-link.curent {
  color: #404bbf;
}

.header-address {
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

/* --------------MAIN-SLOGAN-------------- */

.slogan {
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  max-width: 1440px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.slogan-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 496px;
  margin: 0 auto 48px;
}

.slogan-btn {
  display: block;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  width: 170px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.slogan-btn:hover,
.slogan-btn:focus {
  background-color: #404bbf;
}

/* --------------MAIN-FUTURES-------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.futures-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.futures-listitem {
  width: calc((100% - 72px) / 4);
}

.futures-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  height: 112px;
}

.futures-listitem .section-subtitle {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* --------------MAIN-TEAM-------------- */
.team {
  background: #f4f4fd;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-listitem {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.taem-list-card {
  padding: 32px 16px;
}

.team-subtitle {
  text-align: center;
}

.team-text {
  text-align: center;
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.icon-link {
  display: block;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
  margin: 12px 12px;
}

/* --------------MAIN-PORTFOLIO-------------- */

.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-listitem {
  width: calc((100% - 48px) / 3);
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.portfolio-list-card {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-subtitle {
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
}

.portfolio-overlay {
  position: relative;
  width: 360px;
  height: 300px;
  overflow: hidden;
}

.portfolio-overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 42px 32px;
  transform: translateY(100%);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.portfolio-listitem:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-listitem:hover .portfolio-overlay-content {
  transform: translateY(0);
}

/* --------------FOOTER-------------- */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.footer-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-logo span {
  color: #4d5ae5;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-soccial {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.footer .icon-list {
  gap: 16px;
  justify-content: flex-start;
}

.footer .icon {
  margin: 8px;
}

.footer .icon-link:hover,
.footer .icon-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe-email {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.footer-email {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer-email:hover,
.footer-email:focus {
  border: 1px solid #31d0aa;
}

.footer-email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer .slogan-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  fill: #fff;
}

.footer .slogan-btn:hover {
  background-color: #31d0aa;
}

/* --------------MOODALE-------------- */

.modale {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modale.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modale-area {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 408px;
  height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 24px 24px;
  transform: translate(-50%, -50%);
}

.modale-close {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms,
   fill: #2E2F42;
}
.modale-close:hover,
.modale-close:focus {
  background-color: #404bbf;
  fill: #fff;
}

.modale-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.mod-input-area {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.mod-input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.mod-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 11px 11px 36px;
  outline: none;
  background-color: transparent;
}

.mod-input-field {
  position: relative;
}

.mod-icon-field {
  position: absolute;
  top: 11px;
  left: 16px;
}

.mod-input:focus {
  border: 1px solid #4d5ae5;
}

.mod-input:focus + .mod-icon-field {
  fill: #4d5ae5;
}

.mod-textarea {
  resize: none;
  padding: 8px 16px;
  height: 120px;
}

.mod-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modale-chekbox-area {
  margin-top: 16px;
  margin-bottom: 24px;
}

.modale-chekbox:checked {
  background-size: 100%;
  background-color: black;
}

.modale-text {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modale-text span {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
}

.modale-chekbox:checked + .modale-text span {
  fill: white;
  border-radius: 2px;
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.modale-text a {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
